/*
Skin Name:NightWish
Skin URI: http://jsbox.net/
Description:10.06.12007
Version:1.2
Author: Jay Kwong
Author URI: http://jsbox.net/
*/
body{

	background: url(images/bg.jpg) repeat-x left top fixed #7ec9e6;
	}
	

/*Top Bar */

#pages{
	background: url(images/bg_3.png) repeat-x left top #fff;
	}
	
	
.top_line{
	background: #000000;
	border-bottom:2px solid #fff;
	}
	
/*link */
a, a:link {
	color: #2286cc;
	}
	
a:visited {
	color: #2286cc;
	}
a:hover, a:active {
	color: #000;
	}



/*title*/
#menu_page .tit{
	margin-top:35px;
	text-align:center;
	line-height:29px;
	letter-spacing:-1px;

}


#menu_page .tit a{
	font-size:29px;
	background:url(images/tit.png);
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:6px;
	display:block;
	padding:9px 0;
	}
	
#menu_page .des{
	margin-top:3px;
	text-align:center;
	background: url(images/des.gif);
	font-size:10px;
	display:block;
	padding:1px 6px;
	color:#FFFFFF;
	}

/*title*/

	
#menu_page .tit a:hover{
	color: #82BAE8;
	}

	
#menu_page .left, #menu_page{
	background:url(images/logo.gif) top left repeat-x  #032b51;
}



/*=======================================================Pages Menu*/
	
	
* #menu_page .right{
	background:url(images/r_bg.gif) #032b51 repeat-x;	
}

/*list style*/

	
	#menu_page li a{
	border-bottom:0px;
	color: #b8d8f3;

	}
	

	#menu_page li a:hover{
	background: url(images/ss.png) repeat 0%;
	color:#fff;
	}

	#menu_page li.current_page_item a,
	#menu_page li.current_page_item a:hover {
	background: url(images/ss.png) repeat 0%;
	color:#fff;
	
	}


/*==========================================================Cat Menu*/
		
#menu_cata{
	background: url(images/top_l.gif) left bottom repeat-x #258fc5;
	border-bottom:2px  double  #fff;
	border-top:2px double #fff;
	}


	#menu_cata .cat_tit{
		color:#FFFFFF;
		background:url(images/symb.gif) right center no-repeat;
		}
	
	#menu_cata .cat_tit span{
		color:#6db5e2;
		}

	
/*list style*/

	#menu_cata li{
	border-right:0px solid #F5F5F5;
	color: #CCCCCC;
	}
	
	
	#menu_cata li a{
	background: url(images/menu_over_off.gif)repeat 0%;
	color: #65b3e3;
	}
	
	#menu_cata li a:hover{
	background: url(images/menu_over.gif) repeat 0%;
	color:#004a8c;
	}
/*==========================================================side*/
#side{
	background: url(images/bg_4.png) repeat-x top left #1f1f1f;
	}
	
#side h2{
	border-bottom:0px  solid  #666666;
	border-top:0px  solid  #666666;
	}


#side li{
	border-bottom:1px dotted #333333;
	color: #555555;
	}
	
#side li a{
	color:#999;
	}
	
	
#side li:hover{
	color:#000;
	background:#333;
	}
	
	
	
/*-----------------------------------------------delicious*/	
#side .delicious-posts li a{
	background:url(images/dic.gif) left top no-repeat;
}

#side .delicious-postsli a:hover{
	background:url(images/dic.gif) left top no-repeat  #333333;
}
	
	
/*---------------------------------------------lastfm*/

#side #scrobbler_widget_container li .date{
	color: #999999	
	}
	
	
#side #scrobbler_widget_container li{
	background:url(images/layout2_p_19_fm.gif) left 2px no-repeat;
	}
	
#side #scrobbler_widget_container li:hover{
	background:url(images/layout2_p_19_fm.gif) left 2px no-repeat #333;
	}


/*----------------------------------------------------------------------------list style right*/


	
.secondary li, .secondary ol li {
	color: #999999;
	border: 0px solid #fff;
	border-bottom:0px solid #d3eef8;	
	}


.secondary li a, .secondary ol li a {
	color: #999999;
	}

	
.secondary li a:hover, .secondary ol li a:hover{
	color: #0e6db2;
	}
	
.secondary li:hover, .secondary ol li:hover{
	background: #e4f6fc;
	}
	
	
#recent-posts .date{
	color: #9ed3eb;
	}
	
#recent-posts .comments{
	color: #5eb9e0;
	}	
	
#recent_comment img{
	border:1px solid #EEEEEE;
	}	
	
#recent_comment a{
	color: #5eb9e0;
	}	
	

#meta_rss{
	border:1px solid #F0F0F0;
	background: url(images/ress_meta.gif) right bottom no-repeat;
	color: #5eb9e0;
	}
	
#meta_rss a{
	color:#5eb9e0;
	background:url(images/feed.png) top left no-repeat;
	}

/*==============================================================================footer*/	


/*footer*/	

	
#footpage li{
	border-right:1px solid #b8b8b8;
}

#footpage li a{
	color:#999999

}

#footpage li a:hover{
	color: #E22C5E;

}


#footpage{
	background:#f7f7f7 url(images/bg_5.png) bottom repeat-x;
	}
	
#foot_info{
	background:#fff;
	}
	
#footer {
	color: #999;
	}
	
#footer a {
	color: #999999;
	}

#footer a:hover {
	color: #000;
	}
	
/*===============================================================================*/


h2 { /* H2 is what kind of page you are on. Eg. 'Monthly Archive'. */
	color:#CCCCCC
	}
	
.secondary h2 { /* Secondary H2 is sidebar headlines */
	color: #238ab3;
	border-bottom:1px solid  #a3d9f1;
	border-top:0px solid  #fff;
	}
	
	.secondary h2 .a{ /* Secondary H2 is sidebar headlines */
	color: #46b1db;

	}
	
.entry-content {
	color: #444;
	}
	
	
.entry-meta { /* Time and category for blog entries */
	background: #fff;
	border-bottom:1px  dotted #EFEFEF;
	border-top:1px dotted #EFEFEF;
	color: #bbb;
	}
.entry-meta a{ /* Time and category for blog entries */
	color: #666666;
	}

	
.metalinks {
	border-bottom:1PX  dotted  #CCCCCC;	}
	
.commentsrsslink {
	background: url('images/feed.png') left top no-repeat;
	}
	
	
.navigation {
	border-bottom:1PX dotted  #ccc;
	border-TOP:1PX dotted #ccc;
	}
.navigation .left {
	background:url(images/l.gif) no-repeat left center;
	}

.navigation .right {
	background:url(images/r.gif) no-repeat  right center;
	}
	
	
#pages .w-left {
	border-right:0px solid #fff;
}
	
#rollingarchives{
	border-bottom:0px  solid  #daf1fb;

	}
	
#rollpages {
color:#197abb;

}

#rollnext, #rollprevious{
background:#9fdaf0;
color:#fff;

}


	
#rollprevious:hover,
#rollnext:hover,
#rollhome:hover {
	background:#56b2ec;
	}
	
#pagetrackwrap {
	background: url('images/sliderbgright.png') no-repeat right center;
	}

#pagetrack {
	background: url('images/sliderbgleft.png') no-repeat left center;
	}

#pagehandle {
	background: url('images/sliderhandle.png') no-repeat center center;
	}